<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /zoksh-store/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /zoksh-store/index.html [L]
</IfModule>
