footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 -5px 15px rgba(255, 255, 255, 0.05);
  position: absolute;
  bottom: -200px;
  height: 200px;
}

footer .my-links {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
}

.my-links ul {
  display: flex;
  justify-content: space-between;
}

footer i {
  font-size: 40px;
  position: relative;
  color: #555;
  border-radius: 50%;
  padding: 5px;
  transition-duration: .3s;
}

footer i:hover {
  margin-top: -5px;
  box-shadow: 0 0 20px 0 #372800;
}

/* Responsive */

@media(max-width: 400px) {
  .copy-right {
    font-size: 15px;
  }
}
